* {
    margin: 0;
}

.header {
    background: #FFF8F3;
    background: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 36px;
    outline: none;
    border: none;

}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.b-title {
    font-weight: 700;
    font-size: 85px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.b-sub-title {
    font-weight: 600;
    font-size: 45px
}

.b-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}

.btn2 {
    padding: 5px 20px;
    margin-left: 30px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    outline: none;
    border: none;
}

main {
    max-width: 1154px;
    margin: 0 auto;
    margin-top: 60px;
    margin-top: 60px;
}

.section {
    background: #FFF8F3;
    padding: 0 20px;
    text-align: center;
    height: 500px;
}

.s-header {
    font-weight: 700;
    font-size: 45px;

    padding-top: 130px;
}

.s-description {
    font-size: 28px;
    color: #757575;

    margin-top: 30px;
    line-height: 30px;
    padding: 0 80px;
}

.s-footer {
    margin-top: 30px;
    margin-bottom: 220px;
    display: flex;
    justify-content: space-around;
}

.i-title {
    font-size: 20px;
    color: #757575;
}

.i-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.section1 {
    margin-top: 60px;

}

.s-title {
    font-weight: 700;
    font-size: 45px;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.s-description {
    color: #757575;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}

.box-content {
    display: flex;
    justify-content: space-between;
}

.img {
    margin-top: 30px;
    padding-left: 35px;
}

.bc1 {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-right: 25px;
}

.bc-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    color: #181818;
    margin-bottom: 20px;
}

.bc-description {
    color: #757575;
    font-size: 16px;
    padding: 0 0 33px 0;
}

.section2 {
    margin-top: 55px;
}

.edu-exp {
    display: flex;
    justify-content: space-around;
}

.profile {
    margin-right: 25px;
}

.edu-title {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
}

.edu-title1 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 5px;
}

.edu-title2 {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.edu-description {
    margin-top: 10px;
    color: #757575;
    font-size: 16px;
}

.btn {
    text-align: center;
    margin-top: 50px;
}